.content{
    max-width: 1045px;
    min-width: 940px;
    margin: 0 auto;
}

.title{
	margin-bottom: 0px;
}

.slogan{
	margin-top: 1px;
}

.logo{
	float: left;
}

.main{
	border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    height: auto;
    padding-bottom: 50px;
}

.copy{
	margin-top: 39px;
    width: 90%;
    font-size: 25px;
    font-style: italic;
}

.img-header{
	margin-top: 27px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc4729;
    float: right;
    margin-top: 28px;
    border-radius: 6px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #a93318;
}